<!doctype html>
<html>

<head>
    <title>Pontos Culturais da Cidade de Campinas/SP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../scripts/menulateral.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div class="container-pai">
        <div class="container-filho">
            <div class="container-menu-lateral" id="sideBar">

            </div>
            <div class="container-body">
                <div class="container-header">
                    Sobre Autor & Projeto
                </div>
                <div class="container-autor">
                    <span>Sobre o Autor</span>
                    <div class="container-img-autor">
                        <img src="../styles/assets/eu.png">
                    </div>
                    <div class="container-pessoal">
                        <span>Meu nome é Gabriel Bonin tenho 22 anos de idade.</span>
                        <span>Sou aluno do Instituto Federal de Educação, Ciência e Tecnologia de São Paulo Câmpus Campinas..</span>
                    </div>
                    <div class="container-info">
                        <span>Sobre o Projeto:</span>
                        <span>O projeto tem como objetivo exibir os principais pontos culturais da cidade de Campinas/SP através de um mapa e exibir suas informações.</span>
                    </div>
                </div>

            </div>
        </div>

    </div>
    </div>
    <div class="container-footer">
        Desenvolvido etc Licença 2020
    </div>
    </div>
    <script src="../scripts/jquery.min.js"></script>




</body>

</html>