<!doctype html>
<html>

<head>
    <title>Pontos Culturais da Cidade de Campinas/SP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_T87cm8qTXeKGZu82SrHdbCtbKSinmY8&callback=initMap&libraries=&v=weekly" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../scripts/menulateral.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style.css">

</head>

<body>
    <div class="container-pai">
        <div class="container-filho">
            <div class="container-menu-lateral" id="sideBar">

            </div>
            <div class="container-body">
                <div class="container-header">
                    Mapa
                </div>
                <label>Buscar um ponto cultural:</label>
                <input type="text" id="buscarend">
                <button onclick="geocodeAddress()" class="btn btn-primary" id="btnBusca">Buscar</button>
                <div class="container-mapa">
                    <div id="map">

                    </div>
                </div>
            </div>
        </div>
        <div class="container-footer">
            Desenvolvido etc Licença 2020
        </div>
    </div>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/map.js"></script>


</body>

</html>